<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Cote Argus</title>
	<link type="text/css" rel="stylesheet" href="/style.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>
<body>

<div class="table-title">
<h3>Seek your Argus Price</h3>
</div>

<form method="post" action="/index">

    <p>

        <label for="lclink">Your Link of Leboncoin :</label>

        <input type="text" name="lclink" id="lclink" placeholder="Ex: http://www.leboncoin.fr/voitures/852693116.htm?ca=12_s"  size="60" maxlength="80" />
		<input type="submit" value="Send" />
    </p>

</form>

</body>